N8N_ENCRYPTION_KEY=
NGROK_AUTH_TOKEN=
WEBHOOK_URL=https://inexperienced-anthony-unvertiginously.ngrok-free.dev
CLOUDFLARE_TUNNEL_TOKEN=
N8N_API_KEY=
N8N_HOST=http://localhost:5678/
OPENWEATHER_API_KEY=
TELEGRAM_BOT_TOKEN=